.venv/
.git/
.dvc/
data/
models/
outputs/
__pycache__/
*.pyc
*.pyo
.env
.gitignore
README.md
notebooks/
*.pkl
*.csv
dvc.lock
dvc.yaml
configs/
src/
main.py
predict.py
metrics.json
uv.lock
pyproject.toml